#students-list {
  padding-top: 3rem;
}

#students-list .row {
  display: flex;
}

.list-group {
  margin-top: 2rem;
}

.card-footer {
  font-size: 2rem; 
}

.nav-buttons {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

tr.bg-warning {
  font-size: 1.5rem;
}

table tr th:nth-child(n + 3),
table tr td:nth-child(n + 3) {
  text-align: right;
}